# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Sonstiges
Spesenabrechnung_Test.bpmn
Spesenabrechnung.bpmn
output.bpmn
input.json
test.py
app_original.py